streamlit>=1.32.0
langchain>=0.1.12
langchain-community>=0.0.28
langchain-openai>=0.1.0
langchain-chroma>=0.1.2
langchain-text-splitters>=0.0.1
sentence-transformers>=2.5.1
chromadb>=0.4.24
beautifulsoup4>=4.12.3
plotly>=5.19.0
pandas
numpy
matplotlib
seaborn
scikit-learn
pydantic
psutil
requests
